<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link href="/style.css" rel="stylesheet">
    <link href="/image.svg" rel="icon">
  </head>
  <body>

<div id = "videoframe">
<iframe id="yt-video" width="750" height="513"  src="https://7shgdgbee868m3iri1g9fqkkv.hyperbeam.com/LmOCpQ6VS-KK_besqdS5JQ?token=_4hHPlijaaEa3pVFokYOQDOYJdMW7cMkF9fywLD495w">
</iframe>


</div>
    
    <header>
			<img src="/image.svg" id="img" width="50px" draggable="false">
			<h2>Chat</h2>
			<br>
		</header>
		<div id="menu">
 
			<button id="btn" class="btn" onclick="location.href = '/logout'">Logout</button>
      <br><br><br>
    
      <div id="people">
      <ul id="clientList"></ul>
      </div>
		</div>
		<main>
			<h4>Shortcut to Send: Ctrl + Enter</h4>
			<br><br>
		</main>
		<footer>
			<textarea placeholder="Type your message here..." autofocus></textarea>
			<button id="send">Send</button>
		</footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/modal.js"></script>
    <script src="/script.js"></script>
    <script>
      var name = "<%= name %>";
    </script>
    <script src="/chat.js"></script>
  </body>
</html>